.main-content
	.emoji-name 
		div Emoji&ensp;Factory
	.emoji-preview
		.emoji__wrapper
			.emoji-face
				.hat.no-hat
				.eyebrows
					.eyebrow.left.no-eyebrows
					.eyebrow.right.no-eyebrows
				.eyes
					.eye.left.default
					.eye.right.default
				.mouth.default
				.face-extras.sweat
				.item.default

				
	.emoji-choices
		.emoji-choices__header skin color
		.emoji-choices__group.emoji-choices__group--skin
			each val, index in ['skin-1','skin-2', 'skin-3', 'skin-4', 'skin-5','skin-6']
				if(val === 'skin-1')
					.emoji-choice__skin.selected.js-choice.selected(data-type="skin" data-multiple="no" data-name=val)
				else
					.emoji-choice__skin.js-choice(data-type="skin" data-multiple="no" data-name=val)
			
		.emoji-choices__header eyes
		.emoji-choices__group
			each val, index in ['default','startled', 'heart', 'star', 'fire','squeeze','closed-up', 'closed-down', 'lined']
				if(val === 'default')
					.emoji-choice__item.js-choice.selected(data-type="eyes" data-multiple="no" data-name=val)
				else
					.emoji-choice__item.js-choice(data-type="eyes" data-multiple="no" data-name=val)
		
		.emoji-choices__header mouth
		.emoji-choices__group
			each val, index in ['no-mouth','default','upside', 'open', 'tongue', 'lined','frown','smile', 'curse', 'grimace']
				if(val === 'default')
					.emoji-choice__item.js-choice.selected(data-type="mouth" data-multiple="no" data-name=val)
				else
					.emoji-choice__item.js-choice(data-type="mouth" data-multiple="no" data-name=val)
		
		.emoji-choices__header eyebrows
		.emoji-choices__group
			each val, index in ['no-eyebrows','downwards', 'furrow', 'furrow-far', 'up-far']
				if(val === 'no-eyebrows')
					.emoji-choice__item.js-choice.selected(data-type="eyebrows" data-multiple="no" data-name=val)
				else
					.emoji-choice__item.js-choice(data-type="eyebrows" data-multiple="no" data-name=val)
		
		.emoji-choices__header hats
		.emoji-choices__group
			each val, index in ['no-hat','round-hat', 'wizard-hat', 'sorting-hat', 'top-hat', 'traffic-cone','cactus','mickey']
				if (val === 'no-hat')
					.emoji-choice__item.js-choice.selected(data-type="hat" data-multiple="no" data-name=val)
				else
					.emoji-choice__item.js-choice(data-type="hat" data-multiple="no" data-name=val)
		
		.emoji-choices__header 
			| extras 
			small (Multiples allowed)
		.emoji-choices__group
			each val, index in ['sweat','tears', 'geek-glasses', 'sunglasses', 'crescent-glasses','blush','bandage', 'scarf-gryf','scarf-huff','scarf-rave','scarf-slyt']
				if (val === 'sweat')
					.emoji-choice__item.js-choice.selected(data-type="face-extras" data-multiple="yes" data-name=val)
				else
					.emoji-choice__item.js-choice(data-type="face-extras" data-multiple="yes" data-name=val)
		
		.emoji-choices__header item
		.emoji-choices__group
			each val, index in ['default', 'shield', 'dango','wand', 'coffee']
				if (val === 'default')
					.emoji-choice__item.js-choice.selected(data-type="item" data-multiple="no" data-name=val)
				else
					.emoji-choice__item.js-choice(data-type="item" data-multiple="no" data-name=val)
			.emoji-choice__item-custom(data-type="item" data-multiple="no" data-name="custom")
				span Type/Paste any emoji here for a custom item: 
				input(maxlength="2").js-custom-item
			
		
aside.context
	.explanation
		| Interested in another factory? 
		br
		| Check out the 
		a(href="https://codepen.io/oliviale/details/yvVVjG" target="_blank") medal factory here.

footer
	a(href="https://twitter.com/meowlivia_" target="_blank")
		i.icon-social-twitter.icons
	a(href="https://github.com/oliviale" target="_blank")
		i.icon-social-github.icons
	a(href="https://dribbble.com/oliviale" target="_blank")
		i.icon-social-dribbble.icons